/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v20-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

:root {
  --black: #000000;
  --basic-text: #283136;
  --white: #ffffff;
  --button-red: #FB565A;
  --button-green: #00CA74;
  --button-yellow: #EFC849;
  --footer-address: #666666;
  --social-text: #444444;
  --filter: #EEEEEE;
}
.page__body {
  font-family: "Roboto", "Arial", sans-serif;
  min-width: 1158px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.title {
  font-family: "Roboto Bold", "Arial", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-main {
  color: var(--basic-text);
  font-size: 16px;
  line-height: 24px;
}

.page-main-catalog {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-text);
}

.page-main__title {
  color: var(--black);
  font-size: 55px;
  line-height: 55px;
}

.page-header {
  background-color: var(--filter);
}

.nav-cont {
  width: 1158px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: auto;
}

.main-nav a {
  padding: 5px 20px;
  display: block;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--black);
  text-transform: uppercase;
  text-decoration: none;
}

.user-cart {
  width: 300px;
  padding:0;
}

.slider {
  width: 1158px;
  margin: 0 auto;
}

.grid-cont {
  width: 1158px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.products {
  width: 1158px;
  margin: 0 auto;
  padding: 0;
}

.products__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.products__title {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.products__text {
  font-size: 16px;
  line-height: 24px;
}

.products__buttons {
  width: 160px;
  height: 50px;
  color: var(--white);
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  padding: 17px 40px 15px 39px;
  border: none;
  border-radius: 3px;
}

.products__button--red {
  background-color: var(--button-red);
}

.products__button--green {
  background-color: var(--button-green);
}

.products__button--yellow {
  background-color: var(--button-yellow);
}

.about-company__slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--black);
}

.about-company__title {
  text-transform: uppercase;
}

.about-company__list {
  list-style: none;
}

.stats__slogan {
  color: var(--black);
  text-transform: uppercase;
}

.stats__number {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--black);
}

.stats__table sup {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
}

.stats__text {
  font-size: 16px;
  line-height: 18px;
}

.partners__list {
  list-style: none;
}

.page-footer__social {
  width: 1158px;
  margin: 0 auto;
}

.page-footer__slogan {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--black);
}

.page-footer__contacts {
  width: 1158px;
  margin: 0 auto;
}

.page-footer__contact {
  font-size: 16px;
  line-height: 18px;
  color: var(--footer-address);
}

.page-footer__contact a {
  text-decoration: none;
  color: var(--footer-address);
}

.page-footer__button {
  width: 219px;
  height: 50px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  padding: 17px 44px 15px 44px;
  color: var(--white);
  border: none;
  border-radius: 3px;
  background-color: var(--button-red);
}

.social__slogan {
  font-size: 36px;
  line-height: 36px;
  color: var(--black);
  font-weight: 700;
}

.social__text {
  font-size: 16px;
  line-height: 22px;
  color: var(--social-text);
}

.social__list {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.filter__title {
  font-size: 18px;
  line-height: 30px;
  color: var(--black);
  font-weight: 700;
  text-transform: uppercase;
}

.filter__radio-list {
  list-style: none;
}

.filter__checkbox-list {
  list-style: none;
}

.filter__button {
  font-size: 16px;
  line-height: 18px;
  color: var(--black);
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--filter);
  width: 260px;
  height: 50px;
  padding: 17px 88px;
  border: none;
}

.filter__fieldset {
  border: none;
}
.sort__list {
  list-style: none;
  justify-content: space-between;
}

.sort__item {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.template__list {
  list-style: none;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  border-radius: 3px;
  color: var(--black);
  background-color: var(--filter);
  font-size: 16px;
  line-height: 18px;
}

.social {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.catalog-grid-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.partners {
  width: 1158px;
  margin: 0 auto;
}
